/* Reset */
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Font */
body
{
    font-family: 'Roboto Mono', monospace;
}

/* Nav */
nav
{
    text-align: right
}

nav li
{
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
}

nav li a
{
    color: black;
    text-decoration: none;
}

/* Section */
section
{
    height: 100vh;
}

section.red
{
    background-color: red;
}

section.green
{
    background-color: green;
}

section.yellow
{
    background-color: yellow;
}